<!--Add following to allow comments on the site -->
<div id="commento"></div>
<script src="https://cdn.commento.io/js/commento.js"></script>

<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_default_style"  >
    <h5 class="share-this">Share this!</h5>
    <ul class="list-inline">
    <li>
    <!-- a rel="nofollow" class="a2a_button_facebook">
        <span class="fa-stack fa-lg" style="font-size: 1em;">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
        </a></li> -->
    <li><a rel="nofollow" class="a2a_button_reddit">
        <span class="fa-stack fa-lg" style="font-size: 1em;">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-reddit fa-stack-1x fa-inverse"></i>
            </span>
    </a></li>
    <li><a rel="nofollow" class="a2a_button_twitter">
        <span class="fa-stack fa-lg" style="font-size: 1em;">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
    </a></li>
    <li><a rel="nofollow" class="a2a_button_email">
        <span class="fa-stack fa-lg" style="font-size: 1em;">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
    </a></li>
    <li><a rel="nofollow" class="a2a_button_pocket">
        <span class="fa-stack fa-lg" style="font-size: 1em;">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-get-pocket fa-stack-1x fa-inverse"></i>
        </span>
    </a></li>
    <li><a rel="nofollow" class="a2a_button_whatsapp">
        <span class="fa-stack fa-lg" style="font-size: 1em;">
            <i class="fa fa-circle fa-stack-2x"></i>
            <!--i class="fa fa-sticky-note fa-stack-1x fa-inverse"></i> -->
            <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
        </span>
    </a></li>
    <!--li><a rel="nofollow" class="a2a_button_telegram">
        <span class="fa-stack fa-lg" style="font-size: 1em;">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-telegram fa-stack-1x fa-inverse"></i>
        </span>
    </a></li>
    <li><a rel="nofollow" class="a2a_button_mastodon">
        <span class="fa-stack fa-lg" style="font-size: 1em;">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-mastodon fa-stack-1x fa-inverse"></i>
        </span>
    </a></li-->
    <li><a rel="nofollow" class="a2a_button_linkedin">
        <span class="fa-stack fa-lg" style="font-size: 1em;">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
    </a></li>
    <li><a rel="nofollow" class="a2a_dd" href="https://www.addtoany.com/share">
        <span class="fa-stack fa-lg" style="font-size: 1em;">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-share fa-stack-1x fa-inverse"></i>
        </span>
    </a></li>
    </ul>
</div>
<script>
    var a2a_config = a2a_config || {};
    a2a_config.num_services = 2;
    a2a_config.delay = 800;
    a2a_config.prioritize = ["facebook", "weibo"];
    a2a_config.icon_color = "#2a89f5";
    a2a_config.thanks = {
        postShare:false,
        ad:false
    }
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
